{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/box_logo.png') }}"
            alt="Colour My Change Logo" height="140">
        <h1>Colour My Change</h1>
        <p class="lead">Colour My Change is a simple web app for generating printable weight loss (or gain) progress
            charts. </p>
    </div>

    <div class="row">
            <div class="col-lg-6">
                    <h4>About The Project</h4>
                    <p>
                        Colour My Change was inspired by seeing weight loss progress diagrams that you create and stick on your wall.
                        For every pound or kg lost, you fill in a bubble until you reach your goal.
                        Tired of having to create a new chart every time I started over, I created a web app to help myself and others create progress diagrams to achieve their fitness goals.
                    </p>
                    <div class="row mt-4 mb-4">
                        <div class="col-lg-6">
                            <h4>How It Works</h4>
                            <ol>
                                <li>Generate your chart with Colour My Change.</li>
                                <li>Print out the PDF.</li>
                                <li>Colour in a bubble for every pound or kg lost.</li>
                                <li>Celebrate when you reach your goals.</li>
                            </ol>
                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/bubble_chart.jpg') }}"
                                alt="Photo of a self-made bubble chart">
                         </div>
                    </div>
                </div>
        <div class="col-lg-6">
            <h4>Generate Your Chart</h4>
            <p class="mb-4">Enter your current and goal weight. Either lbs or kg work just fine.</p>
            <form class="needs-validation" action="/chart/" method="POST">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="currentWeight">Current Weight</label>
                        <input type="number" class="form-control" id="currentWeight" name="currentWeight"
                            placeholder="220" min="{{MIN_INPUT_WEIGHT}}" max="{{MAX_INPUT_WEIGHT}}" required>
                        <div class="invalid-feedback">
                            Sorry, that's not valid.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="targetWeight">Target Weight</label>
                        <input type="number" class="form-control" id="targetWeight" name="targetWeight"
                            placeholder="180" min="{{MIN_INPUT_WEIGHT}}" max="{{MAX_INPUT_WEIGHT}}" required>
                        <div class="invalid-feedback">
                            Sorry, that's not valid.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-dark btn-lg btn-block" type="submit">Generate My Chart!</button>
            </form>
        </div>
    </div>
    {% endblock %}